.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
src/**
tests/**
docs/**
node_modules/**
dist/**/*.map
dist/tests/**
esbuild.config.mjs
vitest.config.mts
eslint.config.mjs
tsconfig*.json
scripts/**
.prettierrc
.gitignore
pnpm-lock.yaml
pnpm-workspace.yaml
History.md
vitest.webviews.config.mts
packages/**
.tasks/**
examples/**
media/icon_v1.png
*.zip
