.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
src/**
tests/**
docs/**
node_modules/**
dist/**/*.map
dist/tests/**
esbuild.config.mjs
vitest.config.mts
eslint.config.mjs
tsconfig*.json
.prettierrc
.gitignore
pnpm-lock.yaml
pnpm-workspace.yaml
History.md
