.vscode/**
.vscode-test/**
src/**
tests/**
docs/**
node_modules/**
**/*.map
esbuild.config.mjs
vitest.config.mts
eslint.config.mjs
tsconfig.json
.prettierrc
.gitignore
pnpm-lock.yaml
History.md
dist/tests/**
tsconfig.integration.json
.vscode-test.mjs
tsconfig.browser.json
